server:
  port: 8084

spring:
  application:
    name: order-service

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  flyway:
    enabled: true
    baseline-on-migrate: true

  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS}

    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      acks: all
      retries: 5
      properties:
        enable.idempotence: true
        max.in.flight.requests.per.connection: 5
        spring.json.type.mapping: orderCreatedEvent:com.ecommerce.order.event.OrderCreatedEvent

    consumer:
      group-id: order-group
      auto-offset-reset: latest
      enable-auto-commit: false
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: com.ecommerce.order.event
        spring.json.type.mapping: paymentSuccessEvent:com.ecommerce.order.event.PaymentSuccessEvent,paymentFailedEvent:com.ecommerce.order.event.PaymentFailedEvent,inventoryFailedEvent:com.ecommerce.order.event.InventoryFailedEvent

    listener:
      ack-mode: manual
      concurrency: ${KAFKA_CONCURRENCY:3}

app:
  jwt:
    secret: ${JWT_SECRET}
    expiration-milliseconds: ${JWT_EXPIRATION:3600000}

logging:
  level:
    root: INFO
    org.apache.kafka: WARN
    org.springframework.kafka: INFO
