server:
  port: 8083

spring:
  application:
    name: inventory-service
  datasource:
    url: jdbc:postgresql://localhost:5432/inventory_db
    username: admin
    password: password
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  flyway:
    enabled: true
    baseline-on-migrate: true
  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      properties:
        spring.json.type.mapping: inventoryReservedEvent:com.ecommerce.inventory.event.InventoryReservedEvent,inventoryFailedEvent:com.ecommerce.inventory.event.InventoryFailedEvent
    consumer:
      group-id: inventory-group
      auto-offset-reset: earliest
      key-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer
      properties:
        spring.deserializer.key.delegate.class: org.apache.kafka.common.serialization.StringDeserializer
        spring.deserializer.value.delegate.class: org.springframework.kafka.support.serializer.JsonDeserializer
        spring.json.trusted.packages: "*"
        spring.json.type.mapping: orderCreatedEvent:com.ecommerce.inventory.event.OrderCreatedEvent,orderCancelledEvent:com.ecommerce.inventory.event.OrderCancelledEvent,inventoryFailedEvent:com.ecommerce.inventory.event.InventoryFailedEvent,com.ecommerce.order.event.OrderCreatedEvent:com.ecommerce.inventory.event.OrderCreatedEvent,com.ecommerce.order.event.OrderCancelledEvent:com.ecommerce.inventory.event.OrderCancelledEvent

app:
  jwt:
    secret: ${JWT_SECRET:9a4f2c8d3b7e1g5h9j2k4l6n8o0p3q5r7t9u1v3x5y7z9a1b3c5d7e9f1g3h5j7k}
    expiration-milliseconds: ${JWT_EXPIRATION:3600000} # 1 hour

logging:
  pattern:
    level: "%5p [${spring.application.name:},%X{traceId:-},%X{spanId:-}]"
  level:
    root: ERROR

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    health:
      probes:
        enabled: true
  metrics:
    tags:
      application: ${spring.application.name}
  tracing:
    sampling:
      probability: 1.0

outbox:
  publisher:
    fixed-delay-ms: ${OUTBOX_PUBLISHER_FIXED_DELAY_MS:2000}
    batch-size: ${OUTBOX_PUBLISHER_BATCH_SIZE:50}
    max-attempts: ${OUTBOX_PUBLISHER_MAX_ATTEMPTS:10}
    in-progress-timeout-ms: ${OUTBOX_PUBLISHER_IN_PROGRESS_TIMEOUT_MS:60000}
